.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
}

.headerOption:hover {
    color: black;
}

.headerOption_icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
}

.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
}

.headerOption_title {
    font-size: 12px;
    font-weight: 400;
}

.headerOption_icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px;
}
